%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [
  {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
 ]}.

{deps,
 [
  {protobuffs, [], {rsync, "../../../inttest/proto_protobuffs/mock/protobuffs"}}
 ]}.

%% The default proto compiler is protobuffs
%% so don't need to specify this
%% {proto_compiler, protobuffs}.
