%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [
  {i, "deps/protobuffs/include"},
  {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
 ]}.

{deps,
 [
  {protobuffs, [], {git, "git://github.com/basho/erlang_protobuffs",
                   {branch, "master"}}}
 ]}.

%% The default proto compiler is protobuffs
%% so don't need to specify this
%% {proto_compiler, gpb}.
