%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [
  {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
 ]}.

{deps,
 [
  %% The dependency below to protobuffs is needed for "rebar compile" to
  %% work, thus for the inttest to work, but the protobuffs that is actually
  %% used in inttest is brought in from the inttest/proto_protobuffs/mock
  %% subdirectory.
  {protobuffs, ".*"}
 ]}.

%% The default proto compiler is protobuffs
%% so don't need to specify this
%% {proto_compiler, protobuffs}.
