{port_envs, [
  {"DRV_LDFLAGS", "-Wl,-rpath priv/lib"}
]}.

%% pre-scripts
{pre_otp_app,         "touch precompile.otp_app.out"}.
{pre_erlc_compiler,   "touch precompile.erlc.out"}.
{pre_abnfc_compiler,  "touch precompile.abnfc.out"}.
{pre_lfe_compiler,    "touch precompile.lfe.out"}.
{pre_asn1_compiler,   "touch precompile.asn1.out"}.
{pre_neotoma_compiler,"touch precompile.neotoma.out"}.
{pre_port_compiler,   "echo $DRV_LDFLAGS >> precompile.port.out"}.
