{port_envs, [
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -Wl,-rpath priv/lib"}
]}.

%% pre-scripts
{pre_clean, "touch preclean.out"}.
{pre_compile,
    [{otp_app, "touch precompile.otp_app.out"},
     {erlc_compiler, "touch precompile.erlc.out"},
     {abnfc_compiler, "touch precompile.abnfc.out"},
     {lfe_compiler, "touch precompile.lfe.out"},
     {asn1_compiler, "touch precompile.asn1.out"},
     {neotoma_compiler, "touch precompile.neotoma.out"},
     {port_compiler, "echo $DRV_LDFLAGS >> precompile.port.out"}]}.

{post_clean, "touch postclean.out"}.
{post_compile,
    [{otp_app, "touch postcompile.otp_app.out"},
     {erlc_compiler, "touch postcompile.erlc.out"},
     {abnfc_compiler, "touch postcompile.abnfc.out"},
     {lfe_compiler, "touch postcompile.lfe.out"},
     {asn1_compiler, "touch postcompile.asn1.out"},
     {neotoma_compiler, "touch postcompile.neotoma.out"},
     {port_compiler, "echo $DRV_LDFLAGS >> postcompile.port.out"}]}.

