{ct_dir, ["itest"]}.
{ct_extra_params, "-erl_args -config app"}.

%% http://erlang.org/doc/apps/common_test/run_test_chapter.html#id77160
%%      Any relative paths specified in the test specification, will be relative to the
%%      directory which contains the  test specification file, if ct_run -spec TestSpecFile ...
%%      or ct:run:test([{spec,TestSpecFile},...]) executes the  test. The path will be
%%      relative to the top level log directory, if ct:run:testspec(TestSpec) executes the test.
%% however for versions older than R16  what counts is the project root path and not the path
%% of the location of the test spec. This will cause the test to fail since R15/14 can't find the
%% test.spec file. Since we can't change the file we have no choice but to bypass the test
%% completely
{require_min_otp_vsn, "R16B"}.
