%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [
  {i, "deps/gpb/include"},
  {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
 ]}.

{deps,
 [
  {gpb, [], {git, "git://github.com/tomas-abrahamsson/gpb",
             {branch, "master"}}}
 ]}.

{proto_compiler, gpb}.

{gpb_opts, [{module_name_suffix, "_gpb"}]}.
