%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [
  {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
 ]}.

{deps,
 [
  %% The dependency below to gpb is needed for "rebar compile" to
  %% work, thus for the inttest to work, but the gpb that is actually
  %% used in inttest is brought in from the inttest/proto_gpb/mock
  %% subdirectory.
  {gpb, ".*"}
 ]}.

{proto_opts, [
    {compiler, gpb},
    {src_dirs, ["proto.bad"]}
]}.

{gpb_opts, [{module_name_suffix, "_gpb"}]}.
