{sys, [
    {lib_dirs, ["../apps"]},
    {rel, "dummy", "0.1", [
        kernel,
        stdlib,
        sasl
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "dummy"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},

    {app, dummy, [{incl_cond, include}]}
]}.

{overlay, []}.
