%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [
  %% The dependency below to neotoma is needed for "rebar compile" to
  %% work, thus for the inttest to work, but the neotoma that is actually
  %% used in inttest is brought in from the inttest/neotoma1/mock
  %% subdirectory.
  {neotoma, ".*"}
 ]}.

{neotoma_opts, [
    {module_ext, "_peg"}
]}.
